.root__header {
    display: flex;
    margin: 0 0 10px 0;
}
.root__header_title {
    font-size: 20px;
    color: #3a444d;
    font-weight: bold;
    padding: 3px 0 0 0;
}
.root__header_buttons {
    padding: 5px 0 0 15px;
}
.root__table {
    margin-bottom: 30px;
}