/* list */
.list__header {
    display: flex;
    margin: 0 0 5px 0;
}
.list__header_title {
    font-size: 20px;
    color: #3a444d;
    font-weight: bold;
    padding: 3px 0 0 0;
}
.list__header_buttons {
    padding: 5px 0 0 15px;
}
.list__tables-block {
    height: calc(100% - 60px);
    overflow: auto;
    position: absolute;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}
.list__table-block {
    flex: 1;
    overflow-y: auto;
    position: relative;
    width: 100%;
}
.list__table-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}
.list__sub-block {
    border-top: grey solid 1px;
    min-height: 50px;
    height: 50%;
    display: none;
}
.list__btn-close-sub-block {
    margin: 5px !important;
    position: absolute;
    z-index: 2;
    right: 0;
}
.list__sub-block-content {
    height: 100%;
    width: calc(100% - 25px);
}

/* list edit */
.list_edit__section-name {
    display: flex;
    margin: 10px 0 0 0;
}

/* list edit contract */
.list_edit_contract__buttons {
    margin: 0 0 10px 0;
}

/* list check-shipment */
.list_check-shipment__buttons {
    margin: 10px 0 10px 0 !important;
}

/* list mat-value */
.list_mat-value__header {
    display: flex;
    margin: 0 0 5px 0;
}
.list_mat-value__header_title {
    font-size: 16px;
    color: #3a444d;
    font-weight: bold;
    margin: 10px 10px 0 0 !important;
}
.list_mat-value__table_buttons {
    margin: 10px 0 5px 0 !important;
}
.list_mat-value__table-wrap {
    width: calc(100% + 20px);
    height: calc(100% - 45px);
}

/* list mat-value add */
.list_mat-value_add__buttons {
    margin: 10px 0 10px 0 !important;
}