/* list */
.list__header {
    display: flex;
    margin: 0 0 5px 0;
}
.list__header_title {
    font-size: 20px;
    color: #3a444d;
    font-weight: bold;
    padding: 3px 0 0 0;
}
.list__header_buttons {
    padding: 5px 0 0 15px;
}
.list__tables-block {
    height: calc(100% - 60px);
    overflow: auto;
    position: absolute;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}
.list__table-block {
    flex: 1;
    overflow-y: auto;
    position: relative;
    width: 100%;
}
.list__table-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}
.list__sub-block {
    border-top: grey solid 1px;
    min-height: 50px;
    height: 50%;
    display: none;
}
.list__btn-close-sub-block {
    margin: 5px !important;
    position: absolute;
    z-index: 2;
    right: 0;
}
.list__sub-block-content {
    height: 100%;
    width: calc(100% - 25px);
}

/* list edit */
.list_edit__product-table,
.list_edit__area-table,
.list_edit__equipment-table,
.list_edit__tool-table,
.list_edit__material-table,
.list_edit__labor-table {
    margin-top: 5px;
}
.list_edit__add-content-table,
.list_edit__add-mode-table {
    margin-top: 5px;
    width: 70%;
}
.list_edit__delete-cell {
    padding-top: 0.5em;
}

/* list applicability */
.list_applicability__header {
    display: flex;
    margin: 0 0 5px 0;
}
.list_applicability__header_title {
    font-size: 14px;
    color: #3a444d;
    font-weight: bold;
    margin: 10px 10px 0 0 !important;
}
.list_applicability__table-wrap {
    width: calc(100% + 20px);
    height: calc(100% - 45px);
}

/* detail */
.detail__btn-technological-entity-list {
    margin: 0 0 7px 0 !important;
}
.detail__title {
    display: inline-flex;
    margin: 0 0 0 15px;
}
.detail__buttons {
    margin: 5px 0 0 0;
}
.detail__filter {
    margin: 5px 0 0 0;
}
.detail__product-name-input {
    width: 300px;
}
.detail__type-dropdown {
    margin: 0 0 0 20px;
}
.detail__tables-block {
    height: calc(100% - 100px);
    overflow: auto;
    position: absolute;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
}
.detail__table {
    margin: 10px 0 0 0;
}
.detail__sub-block {
    border-top: grey solid 1px;
    height: 100%;
    display: none;
}
.detail__btn-close-sub-block {
    margin: 5px !important;
    position: absolute;
    z-index: 2;
    right: 0;
}
.detail__sub-block-content {
    height: 100%;
    width: calc(100% - 25px);
}

/* detail child */
.detail_child__header {
    display: flex;
    margin: 0 0 5px 0;
}
.detail_child__header_title {
    font-size: 16px;
    color: #3a444d;
    font-weight: bold;
    margin: 10px 10px 0 0 !important;
}
.detail_child__table-wrap {
    width: calc(100% + 20px);
    height: calc(100% - 45px);
}
.list_child__table_buttons {
    margin: 10px 0 5px 0 !important;
}