<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <url-pattern>/WEB-INF/template/*</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <default-content-type>text/html</default-content-type>
        </jsp-property-group>
        <!-- Корпоративная часть -->
        <jsp-property-group>
            <url-pattern>/WEB-INF/view/corp/section/*</url-pattern>
            <url-pattern>/WEB-INF/view/corp/index.jsp</url-pattern>
            <include-prelude>/WEB-INF/template/corp/header.jspf</include-prelude>
            <include-coda>/WEB-INF/template/corp/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>/WEB-INF/view/corp/include/*</url-pattern>
            <include-prelude>/WEB-INF/template/viewHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/template/viewFooter.jspf</include-coda>
        </jsp-property-group>
        <!-- Производственная часть -->
        <jsp-property-group>
            <url-pattern>/WEB-INF/view/prod/section/*</url-pattern>
            <url-pattern>/WEB-INF/view/prod/index.jsp</url-pattern>
            <include-prelude>/WEB-INF/template/prod/header.jspf</include-prelude>
            <include-coda>/WEB-INF/template/prod/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>/WEB-INF/view/prod/include/*</url-pattern>
            <include-prelude>/WEB-INF/template/viewHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/template/viewFooter.jspf</include-coda>
        </jsp-property-group>
        <!-- Документация -->
        <jsp-property-group>
            <url-pattern>/WEB-INF/view/doc/*</url-pattern>
            <include-prelude>/WEB-INF/template/doc/header.jspf</include-prelude>
            <include-coda>/WEB-INF/template/doc/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Авторизация -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Security</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ERPUsers</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Excluded</display-name>
        <web-resource-collection>
            <web-resource-name>Public</web-resource-name>
            <url-pattern>/resources/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>CONNECT</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/auth</form-login-page>
            <form-error-page>/auth?error</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>This role is intended for developers to test some functions.</description>
        <role-name>ERPUsers</role-name>
    </security-role>
    <welcome-file-list>
        <welcome-file>/WEB-INF/view/welcome.jsp</welcome-file>
    </welcome-file-list>
    <!-- Настройка Spring -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>ru.korundm.configuration.AppConfig</param-value>
    </context-param>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>ru.korundm.configuration.WebConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!-- Настройка кодировки -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Фильтр для логирования -->
    <filter>
        <filter-name>loggedUserFilter</filter-name>
        <filter-class>ru.korundm.configuration.filter.LoggedUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loggedUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Фильтр для использования ленивой загрузки в представлениях -->
    <filter>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>openEntityManagerInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <location>/error</location>
    </error-page>
    <!-- Длительность сессии в секундах -->
    <session-config>
        <session-timeout>28800</session-timeout>
    </session-config>
</web-app>